:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

#grid-container {
  display: grid;
  /* grid-gap: 1em; */
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  width: 60%;
  margin-left: 20%;
  margin-top: 5em;
}

.grid-item {
  padding: 1em;
  /* height: 2em;
  width: 2em; */
  border: 1px solid black;
  text-align: center;
}

#btn-container {
  margin-top: 4em;
  text-align: center;
}

#btn {
  font-size: 58px;
}
